<form class = "navbar-search pull-left" > 
    <input type = "text" class = "search-query" placeholder = "Search" >   
  </form>

  
  <table>
    <ul>
    <li *ngFor="let u of users; let i = index">
            
     <td>{{ u.firstName }}</td>
     <td>{{ u.lastName }}</td>
     <td><button type="button" class="btn btn-info" (click)="onEdit(u._id)">Edit</button></td>
     <td><button type="button" class="btn btn-danger" (click)="onDelete(u._id)">Delete</button></td>
    </li>
  </ul>
  </table>


