<div class="card">
  <div class="card-body">
    <div *ngIf="!email; else forminfo">
      <form [formGroup]="formAdd" (ngSubmit)="addPost(formAdd.value)">
       <div class="form-container">
        <h1>Agregar Cuenta </h1>
        <hr>
          <br>   <div class="row columns">
               
    <br><div><label>Nombre: 
      <input formControlName="nombre" name="password" class="form-control">
      <div class="alert" *ngIf="!formAdd.controls['password'].valid && formAdd.controls['password'].touched">{{ titleAlert }}</div>

    </label>
   
    <br><label>Apellido: 
      <input formControlName="apellido" name="apellido" class="form-control">
      <div class="alert" *ngIf="!formAdd.controls['password'].valid && formAdd.controls['password'].touched">{{ titleAlert }}</div>

    </label>
   
    <br><label>DNI: 
      <input formControlName="dni" name="dni" class="form-control">
      <div class="alert" *ngIf="!formAdd.controls['password'].valid && formAdd.controls['password'].touched">{{ titleAlert }}</div>

    </label>
   
    <br>
            <label>Email: 
              <input type="text" formControlName="email" name="email" class="form-control">
              <div class="alert" *ngIf="!formAdd.controls['email'].valid && formAdd.controls['email'].touched">{{ titleAlert }}</div>
            </label>
    <br>
    <label>Password: 
      <input formControlName="password" type="password" name="password" class="form-control">
      <div class="alert" *ngIf="!formAdd.controls['password'].valid && formAdd.controls['password'].touched">{{ titleAlert }}</div>
<br>
    </label><input type="submit" class="btn btn-outline-success" name="buttonEnviar" value="Enviar Formulario" [disabled]="!formAdd.valid">
            
            <br> <br>  
            </div> 
          </div>
        </div>
      </form>
    </div>
    
    
    <ng-template #forminfo>
      <div class="form-container">
        <div class="row columns">
            <h1> Entró al FORMINFO</h1>
            
        </div>
      </div>
    </ng-template>
    
    
    
    
</div>






