<div class="card">
    <div class="card-body">
      <!-- <div *ngIf="!email; else forminfo"> -->
        <form [formGroup]="formEdit" (ngSubmit)="addPost()">
          <div class="form-container">
            <h1>Ingrese los datos a modificar: </h1>
            <hr>
            <br>   
            <div class="row columns">
              
              <br>
              <label>Nombre: 
                <input formControlName="firstName" name="firstName" class="form-control">
                <div class="alert" *ngIf="!formEdit.controls['firstName'].valid && formEdit.controls['firstName'].touched">{{ titleAlert }}</div>
              </label>
              
              <br>
              <label>Apellido: 
                <input formControlName="lastName" name="lastName" class="form-control">
                <div class="alert" *ngIf="!formEdit.controls['lastName'].valid && formEdit.controls['lastName'].touched">{{ titleAlert }}</div>
                
              </label>
              
              <br>
              <label>Email: 
                <input type="text" formControlName="email" name="email" class="form-control">
                <div class="alert" *ngIf="!formEdit.controls['email'].valid && formEdit.controls['email'].touched">{{ titleAlert }}</div>
              </label>
              <br>
              <label>Password: 
                <input formControlName="password" type="password" name="password" class="form-control">
                <div class="alert" *ngIf="!formEdit.controls['password'].valid && formEdit.controls['password'].touched">{{ titleAlert }}</div>
                <br>
                <br>
              </label>
              <label>Rol: 
                <input formControlName="role" type="role" name="role" class="form-control">
                <div class="alert" *ngIf="!formEdit.controls['role'].valid && formEdit.controls['role'].touched">{{ titleAlert }}</div>
                <br>
              </label>
              <input type="submit" class="btn btn-outline-success" name="buttonEnviar" value="Modificar" [disabled]="!formEdit.valid">
              
                <br> 
            </div>  
          </div>
      </form>
    </div>
  </div>